<div class="content-here"  ng-controller='floatController' scroll-position="scroll">

    <!-- float search div -->
    <div>
        <div ng-class="{'float col-md-8': scroll > 200, 'non-float col-md-12': scroll <= 250}">
            <p>Use the selections and dropdowns below to find your ideal watch</p>
            <input ng-model="query" placeholder="search...">
        </div>

        <span class='scroll-debug' >{{scroll}}</span>
    </div> <!-- /. float search div -->

    <!-- products div -->
    <div class="vcenter thumbnail product-listing" ng-repeat="product in products| filter:query" >
        <a href="#/product/{{ product.id}}">
            <img src="{{ product.image}}" alt="...">
            <center>
                <h5>{{ product.name}}</h5>
                <p class="brand"><i>{{ product.brand}}</i></p>
                <div class="sale-price">{{ product.sale_price}}</div>
                <div class="original-price">{{ product.original_price}}</div>
            </center>
        </a>

    </div><!-- /. product div -->

</div> <!-- /. content-here -->