<div class="content-here">
    <div class="row">
        <div class="col-md-4">
            <h2>SEARCH BY ADDRESS OR POSTAL CODE</h2>
            <p>Enter your City, State or Postal Code</p>
        </div>
        <div class="col-md-8">
            <form>
                <input type="number" class="input-sm postal-code" required/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="row location-map">
        <div class="col-md-4">
            <div class="address-wrapper">
                <div class="address-display" ng-init="bottom=0" style="bottom: {{bottom}}px">
                    <ul class="address pager">
                    <li>
                        <div>
                            <h5>WATCH GALLERY</h5>
                            <span>GARDEN MALL, ME TRI, MY DINH, TU LIEM, HANOI, VIETNAM</span>
                            <span class="web">
                                <em>Web:</em> 
                                <a href="http://watchgalleryvietnam.com" target="_blank">http://watchgalleryvietnam.com</a>
                            </span>
                            <span class="tel">
                                <em>Tel:</em> +84 4 3787 7363</span>
                        </div>
                        <div class="seperate"></div>
                    </li>
                    <li>
                        <div>
                            <h5>WATCH GALLERY</h5>
                            <span>TRANG TIEN PLAZA, HAI BA TRUNG ST, TRANG TIEN, HOAN KIEM, HANOI, VIETNAM</span>
                            <span class="web">
                                <em>Web:</em> 
                                <a href="http://watchgalleryvietnam.com" target="_blank">http://watchgalleryvietnam.com</a>
                            </span>
                            <span class="tel">
                                <em>Tel:</em> +84 4 3516 0868</span>
                        </div>
                        <div class="seperate"></div>
                    </li>
                    <li>
                        <div>
                            <h5>Century Huachen Leisure Shopping Centre</h5>
                            <span>Century Huachen Leisure Shopping Centre, Zhongxing St</span>
                            <span class="tel">
                                <em>Tel:</em> 86-455-8159222</span>
                        </div>
                        <div class="seperate"></div>
                    </li>
                    <li>
                        <div>
                            <h5>WATCH GALLERY</h5>
                            <span>PARKSON LANDMARK 72, LOT E6, CAU GIAY NEW URBAN AREA, TU LIEM, HANOI, VIETNAM</span>
                            <span class="web">
                                <em>Web:</em> 
                                <a href="http://watchgalleryvietnam.com" target="_blank">http://watchgalleryvietnam.com</a>
                            </span>
                            <span class="tel">
                                <em>Tel:</em> +84 4 6680 7508</span>
                        </div>
                        <div class="seperate"></div>
                    </li>
                </ul>
                <ul class="address pager">
                    <li>
                        <div>
                            <h5>WATCH GALLERY</h5>
                            <span>GARDEN MALL, ME TRI, MY DINH, TU LIEM, HANOI, VIETNAM</span>
                            <span class="web">
                                <em>Web:</em> 
                                <a href="http://watchgalleryvietnam.com" target="_blank">http://watchgalleryvietnam.com</a>
                            </span>
                            <span class="tel">
                                <em>Tel:</em> +84 4 3787 7363</span>
                        </div>
                        <div class="seperate"></div>
                    </li>
                    <li>
                        <div>
                            <h5>WATCH GALLERY</h5>
                            <span>TRANG TIEN PLAZA, HAI BA TRUNG ST, TRANG TIEN, HOAN KIEM, HANOI, VIETNAM</span>
                            <span class="web">
                                <em>Web:</em> 
                                <a href="http://watchgalleryvietnam.com" target="_blank">http://watchgalleryvietnam.com</a>
                            </span>
                            <span class="tel">
                                <em>Tel:</em> +84 4 3516 0868</span>
                        </div>
                        <div class="seperate"></div>
                    </li>
                    <li>
                        <div>
                            <h5>Century Huachen Leisure Shopping Centre</h5>
                            <span>Century Huachen Leisure Shopping Centre, Zhongxing St</span>
                            <span class="tel">
                                <em>Tel:</em> 86-455-8159222</span>
                        </div>
                        <div class="seperate"></div>
                    </li>
                    <li>
                        <div>
                            <h5>WATCH GALLERY</h5>
                            <span>PARKSON LANDMARK 72, LOT E6, CAU GIAY NEW URBAN AREA, TU LIEM, HANOI, VIETNAM</span>
                            <span class="web">
                                <em>Web:</em> 
                                <a href="http://watchgalleryvietnam.com" target="_blank">http://watchgalleryvietnam.com</a>
                            </span>
                            <span class="tel">
                                <em>Tel:</em> +84 4 6680 7508</span>
                        </div>
                        <div class="seperate"></div>
                    </li>
                </ul>
                </div>
                
            </div>
            <div class="previous-next">
                <a href="" class="previous" ng-click="bottom = bottom - 572">PREVIOUS</a>
                <a href="" class="next" ng-click="bottom = bottom + 572">NEXT</a>                
            </div>
        </div>
        <div class="col-md-8">
            <img src="images/location-map.png" alt="">
        </div>
    </div>
</div>